body {
    min-height: 100vh;
    display: flex; 
    justify-content: center; align-items: center; 
    margin: 0px;
    padding: 10px;
}
.nonetwork {
    background-color: gray;
    color: white;
}

button {
    transition: 0.4s;
    border: groove 10px gold;
    border-radius: 20%;
}
button:hover {
    box-shadow: 0 0 20px 10px yellow inset;
}